In [1]:
items = {'note':1,'notebook':2,'sketchbook':3}

In [7]:
import pandas as pd
import glob

df0 = pd.read_csv('501.csv', encoding = "shift-jis", engine='python')
df0

,N0,90,G,0,X,160,Z,60,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,N0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T0001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N0,110.0,G,1.0,X,147.00,Z,65.30,NaN,NaN,F,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N0,120.0,G,3.0,Z,125.35,NaN,NaN,R,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N0,130.0,G,2.0,X,142.00,Z,69.68,R,500.0,F,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N0,140.0,G,1.0,X,147.00,Z,65.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,NaN,NaN,G,1.0,X,298.00,F,2000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,G,1.0,X,316.00,F,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,G,1.0,X,300.00,F,3000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,G,0.0,X,280.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,G,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U0.,W0.

In [45]:
with open('501.txt') as f:
    s = f.readlines()
    l=s[0].split(' ')
    print(l)

    
    #print(l[0][0:2],l[0][2:])

['N0090', '', 'G00', 'X160.', 'Z60.\n']