In [1]:
items = {'note':1,'notebook':2,'sketchbook':3}

In [7]:
import pandas as pd
import glob

df0 = pd.read_csv('501.csv', encoding = "shift-jis", engine='python')
df0

,N0,90,G,0,X,160,Z,60,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,N0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T0001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N0,110.0,G,1.0,X,147.00,Z,65.30,NaN,NaN,F,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N0,120.0,G,3.0,Z,125.35,NaN,NaN,R,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N0,130.0,G,2.0,X,142.00,Z,69.68,R,500.0,F,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N0,140.0,G,1.0,X,147.00,Z,65.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,NaN,NaN,G,1.0,X,298.00,F,2000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,G,1.0,X,316.00,F,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,G,1.0,X,300.00,F,3000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,G,0.0,X,280.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,G,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U0.,W0.

In [9]:
with open('501.txt') as f:
    s = f.readlines()
    print(s)

N0090  G00 X160. Z60.
N0100  T0001
N0110  G01 X147. Z65.3 F4000
N0120  G03 Z125.35 R500.
N0130  G02 X142. Z69.68 R500. F4000
N0140  G01 X147. Z65.3
N0150  X142. Z69.68
N0160  G03 Z127.4 R500.
N0170  G02 X137. Z74.05 R500.
N0180  G01 X144. Z67.9
N0190  X137. Z74.05
N0200  G03 Z129.45 R500.
N0210  G02 X132. Z78.43 R500.
N0220  G01 X139. Z72.3
N0230  X132. Z78.43
N0240  G03 Z131.5 R500.
N0250  G02 X127. Z82.8 R500.
N0260  G01 X134. Z76.65
N0270  X127. Z82.8
N0280  G03 Z133.55 R500.
N0290  G02 X122. Z87.17 R500.
N0300  G01 X129. Z81.05
N0310  X122. Z87.17
N0320  G03 Z135.55 R500.
N0330  G02 X117. Z91.55 R500.
N0340  G01 X124. Z85.4
N0350  X117. Z91.55
N0360  G03 Z137.6 R500.
N0370  G02 X112. Z95.92 R500.
N0380  G01 X119. Z89.8
N0390  X112. Z95.92
N0400  G03 Z139.65 R500.
N0410  G02 X107. Z100.3 R500.
N0420  G01 X114. Z94.15
N0430  X107. Z100.3
N0440  G03 Z141.7 R500.
N0450  G02 X102. Z104.67 R500.
N0460  G01 X109. Z98.55
N0470  X102. Z104.67
N0480  G03 Z143.7 R500.
N0490  G02 X97. Z109.05 R500.
N0500  G01 X104. Z102.9
N0510  X97. Z109.05
N0520  G03 Z145.75 R500.
N0530  G02 X92. Z113.42 R500.
N0540  G01 X99. Z107.3
N0550  X92. Z113.42
N0560  G03 Z147.8 R500.
N0570  G02 X87. Z117.8 R500.
N0580  G01 X94. Z111.65
N0590  X87. Z117.8
N0600  G03 Z149.85 R500.
N0610  G02 X82. Z122.17 R500.
N0620  G01 X89. Z116.05
N0630  X82. Z122.17
N0640  G03 Z151.9 R500.
N0650  G02 X77. Z126.55 R500.
N0660  G01 X84. Z120.4
N0670  X77. Z126.55
N0680  G03 Z153.9 R500.
N0690  G02 X72. Z130.95 R500.
N0700  G01 X79. Z124.8
N0710  X72. Z130.95
N0720  G03 Z155.95 R500.
N0730  G02 X67. Z135.3 R500.
N0740  G01 X74. Z129.2
N0750  X67. Z135.3
N0760  G01 X67. Z150. F1500
N0780 G00 X160. M39
T0000
G00 X190. Z125. F8000 M40 M42
G00 X270.
G01 X298. F2000
G01 X316. F100
G01 X300. F3000
G00 X280.
G28 U0. W0.
M38
M43
M41 M39
M99
%